.item {
    width: 220px;
    height: auto;
    margin: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 8px;
    color: rgb(14, 15, 15);
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.paragraf {
    padding-bottom: 0px;
    margin: 0px;
}

.btn {
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.addContact {
    width: 100px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 5px;
    color: rgb(14, 15, 15);
}